/01Singleton/ThreadSafeSingleton/nbproject/private/
/01Singleton/ThreadSafeSingleton/build/
/01Singleton/SerializationSingleton/SerializationSingleton/nbproject/private/
/01Singleton/SerializationSingleton/SerializationSingleton/build/